In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/Project datasets/wikidata_labels_descriptions_quotebank.csv.bz2', compression='bz2', index_col='QID')

In [47]:
df.sample(15)

                                                     Label                                        Description
QID
Q507170                              Danish People's Party                         political party in Denmark
Q3454797                           Reformists of Vojvodina                                                NaN
Q1278453                       Muslim Brotherhood of Syria  a branch of the Sunni Islamist Muslim Brotherhood
Q2949890                                   Historical Left               historical Italian political faction
Q61982                                              daimyo      powerful territorial lord in pre-modern Japan
Q4197743                                            player                            person who plays a game
Q19077                       Justice and Development Party  conservative-democratic political party in Turkey
Q66791298                             Ako Padayon Pilipino                      party-list in the Philippines
Q4356097               2013 Argentine legislative election                             Elections in Argentina
Q12644212                                   Muhajir people                                 multi-ethnic group
Q318806                                     Abenaki people             Native American tribe and First Nation
Q2303143                                           recluse  person who lives in voluntary seclusion from t...
Q23303455         Movement for Unity, Solidarity, and Work                          Congolese political party
Q28752962  Municipal elections 2012 in Evijärvi in Finland  Municipal elections in 2012 in Evijärvi in Fin...
Q7550431                                   Social Alliance                           Bolivian political party

In [48]:
df.shape

(36969, 2)

In [3]:
df2 = pd.read_parquet('/content/drive/MyDrive/Project datasets/speaker_attributes.parquet')

In [4]:
df2.sample(15)

                                aliases            date_of_birth  ...  type religion
651896                             None  [+1960-02-09T00:00:00Z]  ...  item     None
3823503                            None  [+1942-00-00T00:00:00Z]  ...  item     None
3697601                            None                     None  ...  item     None
1662688                            None                     None  ...  item     None
2777306  [Stathis, Efstathios Gennatas]                     None  ...  item     None
678696                             None                     None  ...  item     None
1197549                            None  [+1827-10-06T00:00:00Z]  ...  item     None
7091240                      [Lee Jeni]  [+1972-01-01T00:00:00Z]  ...  item     None
6642710                            None  [+1927-01-01T00:00:00Z]  ...  item     None
7861265                            None                     None  ...  item     None
3097117                            None                     None  ...  item     None
8881227                            None                     None  ...  item     None
8744656                            None                     None  ...  item     None
1235583             [Sir William Price]  [+1867-08-30T00:00:00Z]  ...  item     None
8008115                            None  [+1950-10-30T00:00:00Z]  ...  item     None

[15 rows x 15 columns]

In [5]:
df2.shape

(9055981, 15)

In [6]:
speakers=df2[df2['id'].isin(df.index)]
print(speakers)

                                                   aliases  ... religion
6897     [Mishima Yukio, Kimitake Hiraoka, Hiraoka Kimi...  ...   [Q748]
10859                        [Kiyomori Taira no, Kiyomori]  ...   [Q748]
11714               [Tiberius Claudius Caesar Britannicus]  ...     None
17716    [Bill Talen, Église de la Très Sainte Consomma...  ...     None
23070                                                 None  ...     None
...                                                    ...  ...      ...
8150581                                  [qi zhan, Qizhan]  ...     None
8254126                         [Daniel Sanchez Fernandez]  ...     None
8290400          [Auron, Raúl Álvarez Genes, Raúl Álvarez]  ...     None
8444406                                               None  ...     None
8912707                                               None  ...     None

[76 rows x 15 columns]

In [7]:
print(speakers.shape)
politicians=speakers[~(speakers['party'].isna())]
print(politicians.shape)
politicians.head()

(76, 15)
(6, 15)

                                                   aliases  ... religion
1215271                                               None  ...     None
2655275                                               None  ...     None
3398268  [Francisco Franco y Bahamonde, General Franco,...  ...  [Q1841]
4754358                                               None  ...     None
5160524                                               None  ...     None

[5 rows x 15 columns]

In [26]:
partys=df[df.index.isin((politicians['party'].str.get(0)))]
partys.head(6)

                                          Label                                        Description
QID
Q1255232          Justice and Development Party                           Moroccan political party
Q28229317                    Energies for Italy                            Italian political party
Q885433               Galician Nationalist Bloc                                political coalition
Q2630934   Unified Socialist Party of Catalonia                          dissolved political party
Q207308            Falange Española de las JONS  political party and movement in Spain originat...
Q216669                              monarchism          advocacy of a monarch or monarchical rule

In [8]:
#df3 = pd.read_csv('/content/drive/MyDrive/Project datasets/wikidata_labels_descriptions.csv.bz2', compression='bz2', index_col='QID')

In [9]:
#df3.shape